html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #ffffff;
    font-family: sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width:900px;
    min-height:100vh;
    padding: 32px;
    margin: 0 auto;
    background-color: #f4f8fc;
}

h1, h2 {
    padding-bottom: 20px;
    color: #555;
}
h1 {
    font-size: 24px;
} 
h2 {
    font-size: 20px;
}

.append-contact-section,
.contacts-list-section {
    padding: 20px 0;
}

.append-contact-form {
    width: 50%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px;
}
label {
    padding: 6px 0;
}
.input-fields {
    padding: 6px;
}
.btn {
    padding: 6px;
}
.form-error {
    grid-column-start: 1;
    grid-column-end: 3;
}
.append-contact-btn {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
}

.alert-danger,
.alert-worning {
    padding: 8px;
    border-radius: 6px;
}
.alert-danger {
    background-color: #cd5c5c;
}
.alert-worning {
    background-color: #ffe4b5;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #555;
}
thead {
    border: 1px solid #555;
}
th, td {
    padding: 8px;
}
tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

tbody tr:nth-child(even) {
    background-color: #cccccc;
}
.remove-contact-form-col {
    width: 90px;
}

.remove-contact-btn {
    background-color: #CD5C5C;
    color: #ffffff;
    border: 2px solid #8B0000;
}